# All __pycache__ directories
__pycache__

# Main files
main_*
*-main.c
*-main.py
*_main.py
main

# Py Files
0-generator.py

# C files
_putchar.c

# Files compiled
0-advanced_binary
0-heap
0-linear_skip
0-menger
0-node
0-sandpiles
0-slide_line
0-sorted_array_to_avl
1-heap_insert
cycle
insert
mul
palindrome
merge

# Skiplist files
0-linked_lists.c
create_skiplist.c
free_skiplist.c
linked_lists.c
print_skiplist.c

# linter and betty
Betty
