# All __pycache__ directories
__pycache__

# All main files
main_*
*-main.c
*-main.py
*_main.py
0-generator.py

# insert in sorted linked list
linked_lists.c
insert

# heap insert and extract
0-node
1-heap_insert
0-menger

# file compilation
0-sandpiles
palindrome
0-slide_line
0-sorted_array_to_avl
0-linear_skip
0-heap
0-advanced_binary

# Skiplist files
create_skiplist.c
free_skiplist.c
print_skiplist.c

# linked list cycle
cycle
0-linked_lists.c

# linter and betty
Betty